---
---

@import "{{ site.theme }}";

.wrapper {
  width: 680px;
}

code.highlighter-rouge {
  color: rgb(230, 230, 230);
  background-color: rgb(58, 60, 66);
  border: 1px solid rgb(66, 68, 72);
  border-radius: 3px;
  padding: 0 2px 1px;
}
