---
---

@import "{{ site.theme }}";

.wrapper {
  width: 680px;
}

code.highlighter-rouge {
  color: rgb(230, 230, 230);
  background-color: rgb(89, 89, 89);
  border: 1px solid rgb(77, 77, 77);
  border-radius: 3px;
  padding: 0 2px 1px;
}
